<% layout('layout') -%>


    <h1>
        <img src="/assets/img/logo.png" alt="berserk"width="650" />
    </h1>

    <div class="d-flex flex-row">
        <% if (user) { %>
                <a href="/auth/signout" class="mx-3">logout</a>
                <a href="/user" class="mx-3">user</a>
            <% } else { %>
                <a href="/users/signup" class="mx-3"> subscription</a>
                <a href="/auth/signin" class="mx-3"> Connexion</a>
            <% } %>
    </div>


