<% layout('layout') -%>

<% if (user) { %>
        <h1> Hello <%= user.username %></h1>
    <% } else { %>
        <img src="/assets/img/logo.png" alt="berserk" width="650" />
<% } %>

    


<div class="d-flex flex-row">
    <% if (user) { %>
        <a href="/auth/signout " class="mx-3 btn btn-sm btn-danger">
           <i class="fas fa-sign-out-alt"></i> Logout
        </a>
        <a href="/users/account"  class="mx-3 btn btn-sm btn-info">
            <i class="fas fa-users"></i> User
        </a>
    <% } else { %>
        <a href="/users/signup" class="mx-3 btn btn-sm btn-success"> 
            <i class="fas fa-clipboard-check"></i> Register
        </a>
        <a href="/auth/signin" class="mx-3 btn btn-sm btn-primary"> 
            <i class="fas fa-users"></i> Login
        </a>
    <% } %>
</div>
