<% layout('layout') -%>

<h1>Login </h1>

<% if (error) { %>
    <h4 style="color:red;"><%= error %></h4>
<% } %>

<div class="d-flex flex-row">
    <form method="post"
        action="/auth/signin">

        <div class="form-group">
            <input class="form-control <%= error  ? 'is-invalid' : '' %>"
                type="email"
                name="email"
                placeholder="email" />
        </div>

        <div class="form-group">
            <input class="form-control <%= error  ? 'is-invalid' : '' %>"
                type="password"
                name="password"
                placeholder="password" />
        </div>


        <div class="text-center">
            <button class="btn btn-primary">Login</button>
            <a href="/"
                class="btn btn-info">Back</a>
        </div>
    </form>
</div>
